.tasks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.wikis {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.myCard {
	//display: block;
	min-width: 300px;
	width: 400px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 7px;
	margin: 20px;
}


.myCard {
	.title {
		font-size: 115%;
		font-weight: bold;
	}

	.clickable {
		cursor: pointer;
	}
  
	.description {
	  display: block;
	  padding: 6px 12px;
	}

	.noArticles {
		float: right;
		font-size: 85%;
		font-style: italic;
	}
}

@media screen and (max-width: 800px) {
	.tasks {
		flex-direction: column;
	}
}

@media screen and (max-width: 450px) {
	.myCard {
		width: 100%;
	}
}