.tasks {
	display: flex;
}

.myCard {
	display: block;
	min-width: 300px;
	width: 400px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 7px;
	margin: 20px;
}

.myCard {
	.title {
		font-size: 115%;
		font-weight: bold;
		cursor: pointer;
	}
  
	.description {
	  display: block;
	  padding: 6px 12px;
	}
}

@media screen and (max-width: 800px) {
	.tasks {
	  display: block;
	}
}